/* 
==============================
Filters Class
==============================
 */

.filters {
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: inline-block;
  height: 70px;
  width: 100%;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  float: right;
  margin: 12px 30px;
}

/* search button opacity */
.filters button:hover {
  opacity: 90%;
}

/* locations and amenities style */
.filters .locations,
.filters .amenities {
  height: 100%;
  width: 25%;
  display: inline-block;
  position: relative;
}

.filters .locations {
  border-right: 1px solid #dddddd;
}

/* 
==============================
Filters Typography
==============================
 */
.filters h2,
.filters h3,
.filters h4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.filters h3,
.filters h4 {
  margin: 12px 0 0 30px;
  padding: 0 0 0 20px;
}

.filters h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 12px auto 0 30px;
}

.filters h3 {
  font-weight: 600;
  font-size: 1.17em;
}

.filters h4 {
  font-weight: 400;
  font-size: 14px;
}

.filters .locations .popover h2 {
  padding: 0 0 0 10px;
  font-weight: bold;
}

/* 
==============================
Filters Dropdown Lists
==============================
 */

/* Locations and amenities popover hover */
.filters .locations:hover .popover,
.filters .amenities:hover .popover {
  display: block;
}

/* Reset the display of all popovers */
.filters .popover {
  background-color: #fafafa;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: none;
  position: absolute;
}

/* Locations and amenities background color on hover */
.filters .locations:hover,
.filters .amenities:hover {
  background-color: #fafafa;
}

.filters .locations .popover {
  margin: 10px 0 0 0;
}

.filters .amenities .popover {
  margin: 10px 0 -11px -5px;
  padding: 0 1em 0 2rem;
  list-style: none;
}

.filters .locations .popover ul {
  list-style: none;
  padding: 6px 0 5px 4rem;
}

.filters .amenities li {
  margin: 12px -5px 12px 0;
}
